.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* Intro Section */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: azure;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header .bd20 {
    font-size: 24px;
    font-weight: bold;
}

header .sign-in-button {
    padding: 10px 20px;
    background-color: white;
    color: #006A50;
    border-color: #006A50;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer
}

.sign-in-button:hover {
    background-color: gray;
}

/* Hero Poster */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background-color: #d3ece1;
    border-radius: 20px;
}

.hero-content .subtitle {
    color: #141414;
    font-size: 20px;
}

.hero-content .title {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

.enb-button {
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.enb-button:hover {
    background-color: gray;
}

/* pillar section */
.pillar-heading {
    font-size: 40px;
    text-align: left;
}

.pillars-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
    background-color: #d3ece1;
    border-radius: 10px;

}

.pillars {
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 6px 50px 0px rgba(0, 0, 0, 0.06);

    /* vision section */
}

.visions {
    max-width: 1200px;
    margin: 10 px auto;
    padding: 20px;
    text-align: left;
}

.vision-heading {

    font-size: 40px;
    text-align: left;

}

p {
    font-size: 24px;
    margin-bottom: 30px;
}

/* card section */

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    max-width: 320px;
    text-align: left;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: #222;
}

.card p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #666;
}

.card .icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: bold;
}

.card a:hover {
    background-color: gray;
}

.blue {
    background-color: #5490F5;
}

.green {
    background-color: #C6E4D6;
}

.yellow {
    background-color: #F7EBCF;
}

/* yunus quote */

.quote-of-yunus {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.quote-text {
    font-size: 14px;
}

.quote-author {
    font-size: 20px;
    color: black;
}

.author-position {
    font-size: 14px;
}

.quote-img {
    "position: absolute;
 top: 10px;
    left: 10px;
}


/* table */
.opinion {
    width: 1280px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: left;
    margin-bottom: 20px;
    font-size: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-style: inset;
}

th,
td {
    padding: 15px;
    text-align: left;
    border-bottom: 5px solid #ddd;
}

th {
    background-color: #e6f9d4;
}

select {
    padding: 10px;
    border: 5px solid;
    border-radius: 5px;
}

/* news section */

.news-card {
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 900px;
    margin: auto;
}

.image-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
}

.content-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.source {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.source .logo {
    height: 20px;
    margin-right: 8px;
}

.date-time {
    font-size: 14px;
    margin-bottom: 15px;
}

.description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}


.read-more-btn {
    background-color: #c8e6c9;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.read-more-btn:hover {
    background-color: gray;
}

/* donation section */
.donation {
    width: 80%;
    margin: 0 auto;
}

.donation-heading {
    text-align: center;
    margin-bottom: 20px;
}

.donation-paragraph{
    text-align: center;
    margin-bottom: 30px;
}

.donation-options {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.donation-button {
    background-color: #c8e6c9;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.donation-button:hover {
    background-color: gray;
}

.donation-selected {
    background-color: #006A50;
}

#other-amount {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.done-button {
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer
}

.done-button:hover {
    background-color: gray;
}

/* newsletter section */
.newsletter {
    width: auto;
    margin: 0 auto;
    text-align: center;
}


.input-container {
    display: flex;
    justify-content: center;
}

#email {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}



.note {
    margin-top: 20px;
}

.nws {
    background-color: #C6E4D6;
    border-radius: 10px;
}

.subscribe-button {
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.subscribe-button:hover {
    background-color: gray;
}
/* footer section */
footer{
    padding: 125px 250px;
    position: relative;
}