.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

/* Intro Section */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: azure;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header .bd20 {
    font-size: 24px;
    font-weight: bold;
}

header .sign-in-button {
    padding: 10px 20px;
    background-color: white;
    color: #006A50;
    border-color: #006A50;
    border-radius: 5px;
    font-weight: 600;
}

/* Hero Poster */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 50px;
    background-color: #d3ece1;
    border-radius: 20px;
}

.hero-content .subtitle {
    color: #141414;
    font-size: 20px;
}

.hero-content .title {
    font-size: 48px;
    font-weight: bold;
    margin: 20px 0;
}

.enb-button {
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

/* pillar section */
.pillar-heading {
    font-size: 40px;
}
.pillars-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: space-around;
    background-color: #d3ece1;
    border-radius: 10px;
    
}

.pillars {
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
    
}